body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

label {
	display: block;
}

nav a {
	display: inline-block;
	margin: 1em;
}

form div {
	margin: 1em;
	display: inline-block;
}

#thank,
#orderConfirm {
	display: flex;
	flex-direction: column;
	align-items: center;
}


/* admin view all posters */
.adminPosters {
  display: flex;
  flex-direction: row;
}

.btn {
  font-family: sans-serif;
  color: white;
  font-size: 18px;
  background-color: #0a7bed;
  border-radius: 10px;
  padding: 8px 20px;
  font-weight: 100;
  border: none;
}

/* .middle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
} */




.posters-container {
	width: 100vw;
}
.poster {
	float: left;
  padding: 30px;
  margin: auto;
}

/* admin view all posters */
.adminPosters {
  display: flex;
  flex-direction: row;
}

.btn {
  font-family: sans-serif;
  color: white;
  font-size: 18px;
  background-color: #0a7bed;
  border-radius: 10px;
  padding: 8px 20px;
  font-weight: 100;
  border: none;
}

/* .middle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
} */


table, th, td {
  border: 1px solid;
}
table {
  border-collapse: collapse;
  text-align: center;
  width: 25%;
}



